<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров и корзина</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="app">
    <header class="header not-main-header">
        <div class="container">
            <div class="top-nav d-flex align-i-с space-btw">
                <div class="nav-left d-flex align-i-с">
                    <a class="nav-left__logo d-flex logo" href="#">
                        <img src="../img/logo.png" class="logo__img" alt="Brand">
                        <span class="logo__text">
                        BRAN
                    </span>
                        <span class="logo__text logo__text_pink">
                        D
                    </span>
                    </a>
                    <div class="nav-left__menu d-flex align-i-с">
                        <div class="nav-left__drop">
                            <a href="#" class="nav-left__browse d-flex">
                                Browse
                                <i class="fas fa-caret-down nav-left__triangle"></i>
                            </a>
                        </div>
                        <search @onsearch="handleSearchClick"></search>
                    </div>
                </div>
                <div class="nav-right d-flex align-i-с">
                    <div class="nav-right__drop">
                        <button type="button" class="nav-right__img" @click="isVisibleCart = !isVisibleCart">
                            <img src="../img/cart.svg" alt="cart">
                        </button>
                        <cart :cart="cart" v-if="isVisibleCart" @ondelete="handleDeleteClick"></cart>
                    </div>
                    <button type="button" class="nav-right__btn button">
                        My Account
                        <i class="fas fa-caret-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="container">
                <nav class="nav">
                    <ul class="menu d-flex">
                        <li v-for="item in menuItems" class="menu__list">
                            <a href="#" class="menu__link">{{item.link}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="container">
            <products :query="filterValue" @onbuy="handleBuyClick"></products>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="cart.js"></script>
</body>
</html>
