<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров и корзина</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="app">
    <header class="header not-main-header">
        <div class="container">
            <div class="top-nav d-flex align-i-с space-btw">
                <div class="nav-left d-flex align-i-с">
                    <a class="nav-left__logo d-flex logo" href="#">
                        <img src="../img/logo.png" class="logo__img" alt="Brand">
                        <span class="logo__text">
                        BRAN
                    </span>
                        <span class="logo__text logo__text_pink">
                        D
                    </span>
                    </a>
                    <div class="nav-left__menu d-flex align-i-с">
                        <div class="nav-left__drop">
                            <a href="#" class="nav-left__browse d-flex">
                                Browse
                                <i class="fas fa-caret-down nav-left__triangle"></i>
                            </a>
                        </div>
                        <input v-model="searchQuery" class=" nav-left__input" type="text" placeholder="Search for Item...">
                        <button class=" nav-left__search button" type="button" @click="handleSearchClick">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="nav-right d-flex align-i-с">
                    <div class="nav-right__drop">
                        <button type="button" class="nav-right__img" @click="isVisibleCart = !isVisibleCart">
                            <img src="../img/cart.svg" alt="cart">
                        </button>
                        <div v-if="isVisibleCart" class="drop-box-cart">
                            <ul class="box-cart">
                                <li class="box-cart__item d-flex align-i-с">
                                    <img src="../img/Cart_image1.jpg" alt="product_photo">
                                    <div class="box-cart__wrap">
                                        <p class="box-cart__title">
                                            Rebox Zane
                                        </p>
                                        <div class="box-cart__stars">
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <p class="box-cart__price">1 x $250</p>
                                    </div>
                                    <a href="#" class="box-cart__icon">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                </li>
                                <li class="box-cart__item d-flex align-i-с">
                                    <img src="../img/Cart_image2.jpg" alt="product_photo">
                                    <div class="box-cart__wrap">
                                        <p class="box-cart__title">
                                            Rebox Zane
                                        </p>
                                        <div class="box-cart__stars">
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="box-cart__star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <p class="box-cart__price">1 x $250</p>
                                    </div>
                                    <a href="#" class="box-cart__icon">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="box-cart__total d-flex space-btw">
                                <p class="box-cart__text">TOTAL</p>
                                <p class="box-cart__text">$500.00</p>
                            </div>
                            <a href="#" class="box-cart__btn button">
                                Checkout
                            </a>
                            <a href="#" class="box-cart__btn button">
                                Go to cart
                            </a>
                        </div>
                    </div>
                    <button type="button" class="nav-right__btn button">
                        My Account
                        <i class="fas fa-caret-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="container">
                <nav class="nav">
                    <ul class="menu d-flex">
                        <li v-for="item in menuItems" class="menu__list">
                            <a href="#" class="menu__link">{{item.link}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="container">
            <div class="product-box d-flex space-btw">
                <h3 v-if="filteredItems.length === 0">Ничего не нашлось. Попробуйте ввести другой запрос.</h3>
                <div v-for="item in filteredItems" class="product-box d-flex space-btw">
                    <div :id="item.id" class="product-box__item">
                        <a href="#" class="product-box__product">
                            <img :src="item.image" alt="Product" class="product-box__img">
                        </a>
                        <div class="product-box__overlay d-flex">
                            <button type="button" class="product-box__add-cart" :data-id="item.id" :data-name="item.name" :data-price="item.price" :data-image="item.image">
                                Add to Cart
                            </button>
                        </div>
                        <div class="product-box__description">
                            <p class="product-box__text">{{item.name}}</p>
                            <p class="product-box__price">${{item.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cart-content">
        <div class="container">
            <div class="line">
                <div class="column-wide">
                    <h3 class="content-heading">
                        Product Details
                    </h3>
                </div>
                <div class="column-short">
                    <h3 class="content-heading">
                        Unit Price
                    </h3>
                </div>
                <div class="column-short">
                    <h3 class="content-heading">
                        Quantity
                    </h3>
                </div>
                <div class="column-short">
                    <h3 class="content-heading">
                        ACTION
                    </h3>
                </div>
            </div>
            <div class="cart">

            </div>

        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            items: [],
            filteredItems: [],
            menuItems: [],
            searchQuery: "",
            isVisibleCart: false,
        },
        mounted() {
            fetch("http://localhost:3000/products")
                .then(response => response.json())
                .then((items) => {
                    this.items = items;
                    this.filteredItems = items;
                });

            fetch("http://localhost:3000/menu")
                .then(response => response.json())
                .then((links) => {
                    this.menuItems = links;
                });
        },
        methods: {
            handleSearchClick() {
                const regexp = new RegExp(this.searchQuery, 'i');
                return this.filteredItems = this.items.filter(item => regexp.test(item.name));
            }
        }
    })
</script>
</body>
</html>
